<div class="contenedor">
  <div id="cabecera">
    <img src="../assets/img/smart-sdk.png" />
  </div>
  <div id="formulario">
  </div>
  <form id="formStyle" [formGroup]="form" (ngSubmit)="login(form.value)" >
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Username..." [formControl]="form.controls['user']" />
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password..." [formControl]="form.controls['password']" />
    </div>
    <button id="boton" >GO</button>
  </form>
  <div id="mas">
    <h1>+</h1>
  </div>
  <div id="barrita"></div>
  <div id="letter">LOGIN</div>


</div>
