
.contenedor{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #EC407A;
  overflow: hidden;
}

#cabecera{
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: 1;
}
#formulario{
  position: absolute;
  top:20%;
  left: 10%;
  height:30%;
  width: 80%;
  background-color: #fff;
  border-radius: 17px 17px 17px 17px;
  z-index: 2;
}
#mas{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #59C1D3;
  z-index: 3;
  border-radius: 50%;
  left:84%;
  top: 25%;
}
#mas > h1 {
  margin: 0 auto;
  padding-left: 9px;
  color: #FFF;
}
#barrita{
  position: absolute;
  z-index: 3;
  height: 40px;
  width:10px;
  background-color: #59C1D3;
  top:25%;
  left:10%;
}
#letter{
  position: absolute;
  z-index: 3;
  top: 25%;
  left:20%;
  font-size: 20pt;
  color: #59C1D3;
  font-family: "Arial Rounded MT Bold";
}
#formStyle{
  position: absolute;
  z-index: 3;
  top: 33%;
  left:22%;
}
#user{
  background-color: #FFF;
  background-position: right center;
  background-image: url("../../assets/img/user.png");
  background-repeat: no-repeat;
  background-size: 20px;
}
#password{
  background-color: #FFF;
  background-position: right center;
  background-image: url("../../assets/img/password.png");
  background-repeat: no-repeat;
  background-size: 20px;
}
#boton{
  position: relative;
  top: 48%;
  left: 34%;
  width: 150px;
  border-radius: 74px 74px 74px 74px;
  background-color: #59C1D3;
  width: 35%;
  height: 40px;
  z-index: 4;
  font-family: "Arial Rounded MT Bold";
  font-size: 12pt;
  color: #FFF;
}

