.tittle{
  font-size: 15pt;
  font-family: "Arial Rounded MT Bold";

}
.video{
  width: 100%;
  height: 100%;

}
#izquierda{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 30%;
}
#izquierda p{
  padding: 0;
  margin: 0 !important;
}
#izquierda > p{
  padding-left: 10px;
}
#derecha{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 58%;
}
#derecha > p{
  text-align: left;
  padding-right: 10px;
}
#derecha p{
  padding: 0;
  margin: 0 !important;
}
#contenido_alert{
  margin: 10px;
}
.subtitulo{
  font-size: 10pt;
  font-family: "Arial Rounded MT Bold";
}
#flecha{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 8%;
}
