<div id="contenido_alert">
  <div id="izquierda">
    <img src="../assets/img/Recording.png" class="video" />
  </div>
  <div id="derecha">
    <p class="tittle">{{alert.camara}}</p>
    <p class="subtitulo">{{alert.localizacion}}</p>
    <p class="subtitulo">{{alert.datoscamara}}</p>
    <p class="subtitulo">{{alert.estadocamara}}</p>
  </div>
  <div id="flecha">
    <a  class="navbar-brand span" [ngStyle]="{'color':Color1}">
      <span class="	glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </div>
  <hr size="60px" />
</div>
