.tittle{
  font-size: 15pt;
  font-family: "Arial Rounded MT Bold";
  margin-top: 10px;
}

#izquierda{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 49%;
}
#izquierda p{
  padding: 0;
  margin: 0 !important;
}
#izquierda > p{
  padding-left: 10px;
}
#derecha{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 49%;
}
#derecha > p{
  text-align: right;
  padding-right: 10px;
}
#derecha p{
  padding: 0;
  margin: 0 !important;
}
#contenido_alert{
  margin: 10px;
}
.subtitulo{
  font-size: 10pt;
  font-family: "Arial Rounded MT Bold";
}
