{{conten}}
<nav class="navbar navbar-inverse navbar-fixed-bottom tama">

  <div class="boton">
    <a (click)="clicboton('uno')" class="navbar-brand span" [routerLink]="['/listalerts']" >
      <span class="glyphicon glyphicon-bell " aria-hidden="true" [ngStyle]="{'color': Color1 }"></span>
    </a>
  </div>
  <div class="botonc">
    <a  (click)="clicboton('dos')" class="navbar-brand span" [routerLink]="['/listalerts']" [ngStyle]="{'color':Color2}">
      <span class="	glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    </a>
  </div>
  <div class="botont">
    <a (click)="clicboton('tres')" class="navbar-brand span" [routerLink]="['/listalerts']" [ngStyle]="{'color':Color3}" >
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
  </div>
</nav>
