<nav class="navbar navbar-inverse navbar-fixed-bottom tama">

  <div class="boton">
    <a  class="navbar-brand span" [routerLink]="['/']" >
      <span class="glyphicon glyphicon-bell " aria-hidden="true"></span>
    </a>
  </div>
  <div class="botonc">
    <a  class="navbar-brand span" [routerLink]="['/']" >
      <span class="	glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    </a>
  </div>
  <div class="botont">
    <a  class="navbar-brand span" [routerLink]="['/']" >
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
  </div>
</nav>
