.span
{
padding-left: 40%;
  color: #888888 ;
  font-size: x-large;


}
.tama
{
  height: 53px;
  background: #FFFFFF;
  border: transparent;
}

.boton

{
  width: 33%;
  height: 56px;
  background: #FFFFFF;
  display: inline-block;
  margin: 0px;
  margin-left: 0px;
  margin-top: -2px;
  margin-right: 0px;

}
.botonc
{
  position: relative;
  width: 34%;
  height: 68px;
  background: #FFFFFF;
  display: inline-block;
  margin: 0px;
  margin-left: -4px;
  margin-top: -15px;
  margin-right: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top: outset  #888888 8px;

}
.botont
{
  position: relative;
  width: 33%;
  height: 56px;
  background: #FFFFFF;
  display: inline-block;
  margin: 0px;
  margin-left: -4px;
  margin-top: -2px;
  margin-right: 0px;
}
